[submodule "fw/lib/esp-tflite-micro/repo"]
	path = fw/lib/esp-tflite-micro/repo
	url = https://github.com/espressif/esp-tflite-micro.git
[submodule "fw/lib/esp-nn/repo"]
	path = fw/lib/esp-nn/repo
	url = https://github.com/espressif/esp-nn.git
