
[submodule "lib/esp-nn/repo"]
	path = lib/esp-nn/repo
	url = https://github.com/espressif/esp-nn.git
[submodule "lib/esp-tflite-micro/repo"]
	path = lib/esp-tflite-micro/repo
	url = https://github.com/espressif/esp-tflite-micro.git
